.Table__input {
  margin: 1em 0;
  width: 50%;
  position: relative;
  right: 0;
  padding: .5em;
  border-radius: 5px;
  border: 1px solid #555; }

.Table [role="gridcell"] {
  cursor: pointer; }
  .Table [role="gridcell"].hidden {
    display: none; }

.Table [role="rowgroup"].selected {
  animation-name: bolding;
  animation-duration: 2s; }

@keyframes bolding {
  0% {
    font-weight: normal; }
  50% {
    font-weight: bold; }
  100% {
    font-weight: normal; } }
